<!--Modal: Login / Register Form-->
<div *ngIf="!isAuthenticated">
<!--Modal: Login / Register Form-->

<div class="container">

  <!--Section: Main info-->
  <section class="mt-5 wow fadeIn">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-main.jpg" class="img-fluid z-depth-1-half" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!-- Main heading -->
        <h3 class="h3 mb-3">SCM Block Intro</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud (
          <strong>SCM</strong> ) Platform.</p>
        <p>Read details below to learn more about SCM Block.</p>
        <!-- Main heading -->

        <hr>

        <p>
          <strong>400+</strong> Magna,
          <strong>600+</strong> Material,
          <strong>74</strong> tutorials and many more.
          <strong>Free for personal and commercial use.</strong>
        </p>

        <!-- CTA -->
        <a target="_blank" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" class="btn btn-grey btn-md">Register
          <i class="fa fa-registered" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://mdbootstrap.com/docs/jquery/components/" class="btn btn-grey btn-md">Live demo
          <i class="fa fa-image ml-1"></i>
        </a>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--Section: Main info-->

  <hr class="my-5">

  <!--Section: Main features & Quick Start-->
  <section id="aboutUs">

    <h3 class="h3 text-center mb-5">About SCM</h3>

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 px-4">

        <!--First row-->
        <div class="row">
          <div class="col-1 mr-3">
            <i class="fa fa-code fa-2x indigo-text"></i>
          </div>
          <div class="col-10">
            <h5 class="feature-title">Intro 1</h5>
            <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
              eaque ipsa quae ab illo inventore.</p>
          </div>
        </div>
        <!--/First row-->

        <div style="height:30px"></div>

        <!--Second row-->
        <div class="row">
          <div class="col-1 mr-3">
            <i class="fa fa-book fa-2x blue-text"></i>
          </div>
          <div class="col-10">
            <h5 class="feature-title">Intro 2</h5>
            <p class="grey-text">
              veritatis et quasi architecr aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
            </p>
          </div>
        </div>
        <!--/Second row-->

        <div style="height:30px"></div>

        <!--Third row-->
        <div class="row">
          <div class="col-1 mr-3">
            <i class="fa fa-graduation-cap fa-2x cyan-text"></i>
          </div>
          <div class="col-10">
            <h5 class="feature-title">Intro 3</h5>
            <p class="grey-text">dipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
              Ut enim ad minima veniam.</p>
          </div>
        </div>
        <!--/Third row-->

      </div>
      <!--/Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12">

        <p class="h5 text-center mb-4">Watch our "5 min Quick Start" tutorial</p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
        </div>
      </div>
      <!--/Grid column-->

    </div>
    <!--/Grid row-->

  </section>
  <!--Section: Main features & Quick Start-->

  <hr class="my-5">

  <!--Section: Not enough-->
  <section id="services">

    <h2 class="my-5 h3 text-center">Services</h2>

    <!--First row-->
    <div class="row features-small mb-5 mt-3 wow fadeIn">

      <!--First column-->
      <div class="col-md-4">
        <!--First row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-check-circle fa-2x indigo-text"></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">Free for personal and commercial use</h6>
            <p class="grey-text">Our license is user-friendly. Feel free to use MDB for both private as well as commercial projects.
            </p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/First row-->

        <!--Second row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-check-circle fa-2x indigo-text"></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">400+ UI elements</h6>
            <p class="grey-text">An impressive collection of flexible components allows you to develop any project.
            </p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/Second row-->

        <!--Third row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-check-circle fa-2x indigo-text"></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">600+ icons</h6>
            <p class="grey-text">Hundreds of useful, scalable, vector icons at your disposal.</p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/Third row-->

        <!--Fourth row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-check-circle fa-2x indigo-text"></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">Fully responsive</h6>
            <p class="grey-text">It doesn't matter whether your project will be displayed on desktop, laptop, tablet or mobile phone. MDB looks
              great on each screen.</p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/Fourth row-->
      </div>
      <!--/First column-->

      <!--Second column-->
      <div class="col-md-4 flex-center">
        <img src="https://mdbootstrap.com/img/Others/screens.png" alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid">
      </div>
      <!--/Second column-->

      <!--Third column-->
      <div class="col-md-4 mt-2">
        <!--First row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-check-circle fa-2x indigo-text"></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">70+ CSS animations</h6>
            <p class="grey-text">Neat and easy to use animations, which will increase the interactivity of your project and delight your visitors.
            </p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/First row-->

        <!--Second row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-check-circle fa-2x indigo-text"></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">Plenty of useful templates</h6>
            <p class="grey-text">Need inspiration? Use one of our predefined templates for free.</p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/Second row-->

        <!--Third row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-check-circle fa-2x indigo-text"></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">Easy installation</h6>
            <p class="grey-text">5 minutes, a few clicks and... done. You will be surprised at how easy it is.
            </p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/Third row-->

        <!--Fourth row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-check-circle fa-2x indigo-text"></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">Easy to use and customize</h6>
            <p class="grey-text">Using MDB is straightforward and pleasant. Components flexibility allows you deep customization. You will easily
              adjust each component to suit your needs.</p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/Fourth row-->
      </div>
      <!--/Third column-->

    </div>
    <!--/First row-->

  </section>
  <!--Section: Not enough-->
  <hr class="my-5">
  <section class="section pb-3 text-center">

    <!--Section heading-->
    <h1 class="section-heading h1 pt-4">Testimonials</h1>
    <!--Section description-->
    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
      veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

    <div class="row">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <!--Card-->
        <div class="card testimonial-card">

          <!--Background color-->
          <div class="card-up teal lighten-2">
          </div>

          <!--Avatar-->
          <div class="avatar mx-auto white">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid">
          </div>

          <div class="card-body">
            <!--Name-->
            <h4 class="card-title mt-1">John Doe</h4>
            <hr>
            <!--Quotation-->
            <p>
              <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci.
            </p>
          </div>

        </div>
        <!--Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <!--Card-->
        <div class="card testimonial-card">

          <!--Background color-->
          <div class="card-up blue lighten-2">
          </div>

          <!--Avatar-->
          <div class="avatar mx-auto white">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid">
          </div>

          <div class="card-body">
            <!--Name-->
            <h4 class="card-title mt-1">Anna Aston</h4>
            <hr>
            <!--Quotation-->
            <p>
              <i class="fa fa-quote-left"></i> Neque cupiditate assumenda in maiores repudiandae mollitia architecto.
            </p>
          </div>

        </div>
        <!--Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <!--Card-->
        <div class="card testimonial-card">

          <!--Background color-->
          <div class="card-up deep-purple lighten-2"></div>

          <!--Avatar-->
          <div class="avatar mx-auto white">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid">
          </div>

          <div class="card-body">
            <!--Name-->
            <h4 class="card-title mt-1">Maria Kate</h4>
            <hr>
            <!--Quotation-->
            <p>
              <i class="fa fa-quote-left"></i> Delectus impedit saepe officiis ab aliquam repellat, rem totam unde ducimus.</p>
          </div>

        </div>
        <!--Card-->

      </div>
      <!--Grid column-->

    </div>

  </section>
  <!--Section: Testimonials v.1-->

  <hr class="mb-5">
  <section id="customers" class="section pb-3 text-center">
    <!-- Grid row -->
    <h1 class="section-heading h1 pt-4">Customers</h1>
    <p class="section-description">Get insight into how various organizations are using our products to tackle a growing number of use cases. .

    </p>

    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12">

        <!--Card Wider-->
        <div class="card card-cascade wider">

          <!--Card image-->
          <div class="view-cascade overlay">
            <img src="/assets/img/company/bosch.png" style="width: 200px" class="card-img-top" alt="wider">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <!--Card content-->
          <div class="card-body card-body-cascade text-center">
            <!--Title-->
            <h4 class="card-title">
              <strong>Bosch</strong>
            </h4>
            <h5 class="indigo-text">
              <strong>Ireland</strong>
            </h5>

            <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </p>


            <a class="btn btn-unique">Learn More</a>

          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card Wider-->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6">

        <!--Card Narrower-->
        <div class="card card-cascade narrower">

          <!--Card image-->
          <div class="view-cascade overlay">
            <img src="/assets/img/company/societe_generale.png" style="width:200px;" class="card-img-top" alt="narrower">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-body card-body-cascade">
            <h4>
              <strong> Societe Generale</strong>
            </h4>
            <!--Title-->
            <h4 class="card-title">Ivory Coast</h4>
            <!--Text-->
            <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
              ea commodi.</p>
            <a class="btn btn-unique">Learn More</a>
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card Narrower-->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6">

        <!--Card Narrower-->
        <div class="card card-cascade narrower">

          <!--Card image-->
          <div class="view-cascade overlay">
            <img src="/assets/img/company/ericsson.png" style="width:200px;" class="card-img-top" alt="narrower">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-body card-body-cascade">
            <h4>
              <strong> Ericsson</strong>
            </h4>
            <!--Title-->
            <h4 class="card-title">Ivory Coast</h4>
            <!--Text-->
            <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
              ea commodi.</p>
            <a class="btn btn-unique">Learn More</a>
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card Narrower-->

      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </section>
  <hr class="mb-5">

  <!--Section: More-->
  <section id="learn">

    <h2 class="my-5 h3 text-center">...and even more</h2>

    <!--First row-->
    <div class="row features-small mt-5 wow fadeIn">

      <!--Grid column-->
      <div class="col-xl-3 col-lg-6">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-firefox fa-2x mb-1 indigo-text" aria-hidden="true"></i>
          </div>
          <div class="col-10 mb-2 pl-3">
            <h5 class="feature-title font-bold mb-1">Cross-browser compatibility</h5>
            <p class="grey-text mt-2">Chrome, Firefox, IE, Safari, Opera, Microsoft Edge - MDB loves all browsers; all browsers love MDB.
            </p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->

      <!--Grid column-->
      <div class="col-xl-3 col-lg-6">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-level-up fa-2x mb-1 indigo-text" aria-hidden="true"></i>
          </div>
          <div class="col-10 mb-2">
            <h5 class="feature-title font-bold mb-1">Frequent updates</h5>
            <p class="grey-text mt-2">MDB becomes better every month. We love the project and enhance as much as possible.
            </p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->

      <!--Grid column-->
      <div class="col-xl-3 col-lg-6">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-comments-o fa-2x mb-1 indigo-text" aria-hidden="true"></i>
          </div>
          <div class="col-10 mb-2">
            <h5 class="feature-title font-bold mb-1">Active community</h5>
            <p class="grey-text mt-2">Our society grows day by day. Visit our forum and check how it is to be a part of our family.
            </p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->

      <!--Grid column-->
      <div class="col-xl-3 col-lg-6">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-code fa-2x mb-1 indigo-text" aria-hidden="true"></i>
          </div>
          <div class="col-10 mb-2">
            <h5 class="feature-title font-bold mb-1">jQuery 3.x</h5>
            <p class="grey-text mt-2">MDB is integrated with newest jQuery. Therefore you can use all the latest features which come along with it.
            </p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->

    </div>
    <!--/First row-->

    <!--Second row-->
    <div class="row features-small mt-4 wow fadeIn">

      <!--Grid column-->
      <div class="col-xl-3 col-lg-6">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-cubes fa-2x mb-1 indigo-text" aria-hidden="true"></i>
          </div>
          <div class="col-10 mb-2">
            <h5 class="feature-title font-bold mb-1">Modularity</h5>
            <p class="grey-text mt-2">Material Design for Bootstrap comes with both, compiled, ready to use libraries including all features as well
              as modules for CSS (SASS files) and JS.</p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->

      <!--Grid column-->
      <div class="col-xl-3 col-lg-6">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-question fa-2x mb-1 indigo-text" aria-hidden="true"></i>
          </div>
          <div class="col-10 mb-2">
            <h5 class="feature-title font-bold mb-1">Technical support</h5>
            <p class="grey-text mt-2">We care about reliability. If you have any questions - do not hesitate to contact us.
            </p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->

      <!--Grid column-->
      <div class="col-xl-3 col-lg-6">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-th fa-2x mb-1 indigo-text" aria-hidden="true"></i>
          </div>
          <div class="col-10 mb-2">
            <h5 class="feature-title font-bold mb-1">Flexbox</h5>
            <p class="grey-text mt-2">MDB fully supports Flex Box. You can forget about alignment issues.</p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->

      <!--Grid column-->
      <div class="col-xl-3 col-lg-6">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-file-code-o fa-2x mb-1 indigo-text" aria-hidden="true"></i>
          </div>
          <div class="col-10 mb-2">
            <h5 class="feature-title font-bold mb-1">SASS files</h5>
            <p class="grey-text mt-2">Arranged and well documented .scss files can't wait until you compile them.</p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->

    </div>
    <!--/Second row-->

  </section>
  <div class="page-footer text-center font-small mt-4 wow fadeIn" style="background-color: #1C2331;">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" target="_blank" role="button">Download MDB
        <i class="fa fa-download ml-2"></i>
      </a>
      <a class="btn btn-outline-white" href="https://mdbootstrap.com/education/bootstrap/" target="_blank" role="button">Start free tutorial
        <i class="fa fa-graduation-cap ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/mdbootstrap" target="_blank">
        <i class="fa fa-facebook mr-3"></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fa fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fa fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fa fa-google-plus mr-3"></i>
      </a>

      <a href="https://dribbble.com/mdbootstrap" target="_blank">
        <i class="fa fa-dribbble mr-3"></i>
      </a>

      <a href="https://pinterest.com/mdbootstrap" target="_blank">
        <i class="fa fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
        <i class="fa fa-github mr-3"></i>
      </a>

      <a href="http://codepen.io/mdbootstrap/" target="_blank">
        <i class="fa fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
    </div>
    <!--/.Copyright-->

  </div>
  <!--/.Footer-->

  <div class="ui text container" style="margin-top: 7em;">
    <router-outlet></router-outlet>
  </div>
  <!--Section: More-->

</div>
<!--<h1 class="ui header">Custom Login Page with Sign In Widget</h1>
<div *ngIf="!isAuthenticated">
  <p>If you‘re viewing this page then you have successfully started this Angular application.</p>
  <p>This example shows you how to use the
    <a href="https://github.com/okta/okta-oidc-js/tree/master/packages/okta-angular">Okta Angular Library</a>
    and the
    <a href="https://github.com/okta/okta-signin-widget">Okta Sign-In Widget</a>
    to add the
    <a href="https://developer.okta.com/authentication-guide/implementing-authentication/implicit">Implicit Flow</a>
    to your application.
    This combination is useful when you want to leverage the features of the Sign-In Widget, and the authentication helper components from the okta-angular module.
  </p>
  <p>
    Once you have logged in you will be redirected through your authorization server (the issuer defined in config) to create a session for Single-Sign-On (SSO).
    After this you will be redirected back to the application with an ID Token and Access Token. The tokens will be stored in local storage for future use.
  </p>
  <button id="login-button" class="ui primary button" role="button" routerLink="/login">Login</button>
</div>

<div *ngIf="isAuthenticated && userName">
  <p>Welcome back, {{ userName }}!</p>
  <p>
    You have successfully authenticated against your Okta org, and have been redirected back to this application.  You now have an ID Token and access token in local storage.
    Visit the <a href="/profile">My Profile</a> page to take a look inside the ID Token.
  </p>
  <h3>Next Steps</h3>
  <p>Currently this application is a stand-alone front end application.  At this point you can use the access token to authenticate yourself against resource servers that you control.</p>
  <p>This sample is designed to work with one of our resource server examples.  To see access token authentication in action, please download one of these resource server examples:</p>
  <ul>
    <li *ngFor="let example of resourceServerExamples"><a href="{{example.url}}">{{example.label}}</a></li>
  </ul>
  <p>Once you have downloaded and started the example resource server, you can visit the <a href="/messages">My Messages</a> page to see the authentication process in action.</p>
</div>
-->
</div>